$padding: 5px;


mat-card {
  margin: 5px;
  width: 40vw;
  height: 25vh;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  width: 100%;

  mat-icon {
    padding: $padding;

    margin-bottom: 50px;
    font-size: 50px;
  }

  .description {
    h4 {
      padding-left: $padding;
      margin: 0;
      white-space: nowrap
    }

    p {
      padding-left: $padding;
      margin: 0;
      white-space: nowrap
    }
  }
}
